#!/bin/dash
/usr/bin/prime-offload &
xcompmgr -c &
keepassxc &
kdeconnect-indicator &
dunst &
~/.local/bin/ch_wallpaper &
slstatus &
xrdb -merge ~/.Xresources &
echo "--- $(date \"+%m/%d-%T\" )---" >> ~/.dwm.log &
# while true; do
#     # Log stderror to a file 
#     dwm 2>> ~/.dwm.log
#     # No error logging
#     #dwm >/dev/null 2>&1
# done
sudo /usr/bin/prime-switch
