#!/bin/dash
#/usr/bin/prime-offload &
picom &
# keepassxc &
# emacs --daemon > ~/.emacsD.log &
kdeconnect-indicator &
dunst &
~/.local/bin/ch_wallpaper &
xrdb >>~/.xprofile.log &
/usr/lib/polkit-kde-authentication-agent-1 &
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY &
#sudo /usr/bin/prime-switch
