@import url("file:///~/.cache/wallust/colors.css");

/* Find Bar Input Field color and text color */
.findbar-textbox.findbar-find-fast {
    background-color: white !important;
    color: black !important;
}

#nav-bar {
    background-color: var(--color1);
}

/* Text color for tabs */
.tab-text {
    color: var(--color2);
}

/* Background color for the bookmarks toolbar */
#PersonalToolbar {
    background-color: var(--color3);
}

/* Background color for the application menu */
#appMenu-popup {
    background-color: var(--color4);
}

/* Text color for the application menu items */
#appMenu-popup menuitem {
    color: var(--color5);
}

/* Background color for the URL bar */
#urlbar {
    background-color: var(--color6);
}

/* Text color for the URL bar */
#urlbar-input {
    color: var(--color7);
}

/* Background color for the search bar */
#searchbar {
    background-color: var(--color8);
}

/* Text color for the search bar */
#searchbar-input {
    color: var(--color9);
}
