@import '../../.cache/wallust/custom-gtk3.css';
@import url("./notification.css");

/*@define-color color0 rgba(26, 27, 38, 1);*/
/*@define-color noti-border-color rgba(255, 255, 255, 0.15);*/
/*@define-color noti-bg rgb(17, 17, 27);*/
/*@define-color background rgb(43, 43, 57);*/
/*@define-color noti-bg-hover rgb(27, 27, 43);*/
/*@define-color noti-bg-focus rgba(27, 27, 27, 0.6);*/
/*@define-color noti-close-bg rgba(255, 255, 255, 0.1);*/
/*@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);*/
/*@define-color color3 rgba(169, 177, 214, 1);*/
/*@define-color color3-disabled rgb(150, 150, 150);*/
/*@define-color bg-selected rgb(0, 128, 255);*/


* {
  font-family: Iosevka SemiBold;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: .9;
  background: @background;
}

.notification-row {
  outline: none;
  margin: 1px;
  padding: 1px;
}

.control-center {
  background: @background;
}

.control-center-list {
  background: @background;
}

.control-center-list-placeholder {
  opacity: 0.9;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

.power-buttons{
  background-color: @backgroundAlpha;
  padding: 4px;
  margin: 4px;
  border-radius: 6px;
}


.power-buttons>button {
  background: transparent;
  border: none;
}

.power-buttons>button:hover {
  background: @color3;
}

.widget-menubar {
  font-size: 16px;
}

.title {
  font-size: 12px;
}
