[Desktop Entry]
Comment=
Exec=cmus
GenericName=c music player
Icon=/home/mal1kc/Downloads/cmus.png
Name=cmus
NoDisplay=false
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
