[Desktop Entry]
Comment=
Exec=cmus
GenericName=c music player
Icon=media-playback-start
Name=cmus
NoDisplay=false
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
